# 4. Tuples in Python

 * __Tuples are immutable list and cannot  be changed in any way once it is created.__
 * __They are enclosed within parenthesis and not within square braces.__
 * __Tuples are ordered, indexed collections of data.__
 * __Similar to string indices, the first value in the tuple will have the index[0], the second value[1].__
 * __Negative indices are counted from the end of the tuple, just like lista.__
 * __Tuple also has the same structure where as commas separate the values.__
 * __Tuples can store duplicate values.__
 * __Tuples allow you to store several data items including string, integer, float in one variable.__

In [4]:
# take a tuple

tuple_1=('Hello','Python',3.14,1.618,True,False,32,[1,2,3],{1,2,3},{'A':3,'B':10},(0,1))

tuple_1

('Hello',
 'Python',
 3.14,
 1.618,
 True,
 False,
 32,
 [1, 2, 3],
 {1, 2, 3},
 {'A': 3, 'B': 10},
 (0, 1))

In [5]:
type(tuple_1)

tuple

In [6]:
tuple_2=['Hello','Python',3.14,1.618,True,False,32,[1,2,3],{1,2,3},{'A':3,'B':10},(0,1)]
tuple_2

['Hello',
 'Python',
 3.14,
 1.618,
 True,
 False,
 32,
 [1, 2, 3],
 {1, 2, 3},
 {'A': 3, 'B': 10},
 (0, 1)]

In [7]:
type(tuple_2)

list

# concatenation of tuples

 * __To concatenate tuples, + sign is used.__

In [8]:
tuple_1

('Hello',
 'Python',
 3.14,
 1.618,
 True,
 False,
 32,
 [1, 2, 3],
 {1, 2, 3},
 {'A': 3, 'B': 10},
 (0, 1))

In [9]:
tuple_2=('Hello Wolrd',2023)

tuple_2

('Hello Wolrd', 2023)

In [10]:
tuple_3=tuple_1+tuple_2
tuple_3

('Hello',
 'Python',
 3.14,
 1.618,
 True,
 False,
 32,
 [1, 2, 3],
 {1, 2, 3},
 {'A': 3, 'B': 10},
 (0, 1),
 'Hello Wolrd',
 2023)

# Repetition of a tuple

In [11]:
rep_tup=(1,2,3,4,5)

rep_tup*2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

# Membership

In [12]:
rep_tup=(1,2,3,4,5,6)   #1,5,7,10,3,2

# min() , max(), sum(),len()

In [2]:
rep_tup=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)

#  sorting tuple

In [3]:
tuple_3=(0,7,8,20,14,50,78,90,45)

sorted_tuple=sorted(tuple_3)
sorted_tuple

[0, 7, 8, 14, 20, 45, 50, 78, 90]

In [7]:
# Descending order

desc_tuple=sorted_tuple[::-1]
desc_tuple

[90, 78, 50, 45, 20, 14, 8, 7, 0]

# Tuples are immutable

In [8]:
tuple_4=(1,2,3,4,5,6)

tuple_4[0]=9
print(tuple_4)

TypeError: 'tuple' object does not support item assignment

# Delete a tuple


 * __An element in a tuple can not be deleted since it is mutable.__
 * __But a while tuple can be deleted.__

In [12]:
tuple_5=(1,3,5,7,8)
print('Before deleting:',tuple_5)


del(tuple_5)
print('After Deleting:',tuple_5)

Before deleting: (1, 3, 5, 7, 8)

NameError: name 'tuple_5' is not defined

# count() method


 * __This method returns the number of time an item occurs in a tuple.__

In [17]:
tuple_6=(1,1,3,3,5,5,5,5,5,5,6,6,6,7,8,8,8,9,10)

print(tuple_6.count(5))
print(tuple_6.count(1))
print(tuple_6.count(3))
print(tuple_6.count(8))
print(tuple_6.count(10))

6
2
2
3
1

# index() method

 * __It returns the index of the first occurrence of the specified value in a tuple.__

In [22]:
print(tuple_6)

print(tuple_6.index(3))
print(tuple_6.index(10))

(1, 1, 3, 3, 5, 5, 5, 5, 5, 5, 6, 6, 6, 7, 8, 8, 8, 9, 10)
2
18

# One element as tuple

In [25]:
x_tuple=(20,)
print(x_tuple)
print(type(x_tuple))

(20,)
<class 'tuple'>