# 4. Tuples in Python

 * __Tuples are immutable list and cannot  be changed in any way once it is created.__
 * __They are enclosed within parenthesis and not within square braces.__
 * __Tuples are ordered, indexed collections of data.__
 * __Similar to string indices, the first value in the tuple will have the index[0], the second value[1].__
 * __Negative indices are counted from the end of the tuple, just like lista.__
 * __Tuple also has the same structure where as commas separate the values.__
 * __Tuples can store duplicate values.__
 * __Tuples allow you to store several data items including string, integer, float in one variable.__

In [4]:
# take a tuple

tuple_1=('Hello','Python',3.14,1.618,True,False,32,[1,2,3],{1,2,3},{'A':3,'B':10},(0,1))

tuple_1

('Hello',
 'Python',
 3.14,
 1.618,
 True,
 False,
 32,
 [1, 2, 3],
 {1, 2, 3},
 {'A': 3, 'B': 10},
 (0, 1))

In [5]:
type(tuple_1)

tuple

In [6]:
tuple_2=['Hello','Python',3.14,1.618,True,False,32,[1,2,3],{1,2,3},{'A':3,'B':10},(0,1)]
tuple_2

['Hello',
 'Python',
 3.14,
 1.618,
 True,
 False,
 32,
 [1, 2, 3],
 {1, 2, 3},
 {'A': 3, 'B': 10},
 (0, 1)]

In [7]:
type(tuple_2)

list

# concatenation of tuples

 * __To concatenate tuples, + sign is used.__

In [8]:
tuple_1

('Hello',
 'Python',
 3.14,
 1.618,
 True,
 False,
 32,
 [1, 2, 3],
 {1, 2, 3},
 {'A': 3, 'B': 10},
 (0, 1))

In [9]:
tuple_2=('Hello Wolrd',2023)

tuple_2

('Hello Wolrd', 2023)

In [10]:
tuple_3=tuple_1+tuple_2
tuple_3

('Hello',
 'Python',
 3.14,
 1.618,
 True,
 False,
 32,
 [1, 2, 3],
 {1, 2, 3},
 {'A': 3, 'B': 10},
 (0, 1),
 'Hello Wolrd',
 2023)

# Repetition of a tuple

In [11]:
rep_tup=(1,2,3,4,5)

rep_tup*2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

# Membership

In [12]:
rep_tup=(1,2,3,4,5,6)   #1,5,7,10,3,2

# min , max, sum

In [ ]:
rep_tup=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)