# 5. Sets in Python


 * __Set is one of 4 built-in data types in Python used to store collections of data including List, Tuple, and Dictionary.__
 * __Sets are unordered, but you can remove items and add new items.__
 * __A set itself may be modified, but the elements contained in the set must be of an immutable type.__
 * __Sets are used to store multiple items in a single variable.__
 * __You can denote a set with a pair of curly brackets {}.__
 * __Sets element are unique. Duplicate elements are not allowed.__

In [4]:
# The empty set of curly braces denotes the empty dictionary, not empty set.
x={}
print(x)
print(type(x))

{}
<class 'dict'>

In [6]:
y=set()
print(y)
print(type(y))

TypeError: set expected at most 1 argument, got 3

In [7]:
x_1=[1,2,3,4,5,6,7,7,7]
y=set(x_1)
print(y)
print(type(y))

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>

In [8]:
# Take a set

set1={'Hello World',3.14,1.618,'Hello Python',3.14,1.618,True,False,2023}
set1

{1.618, 2023, 3.14, False, 'Hello Python', 'Hello World', True}

In [10]:
newlist=['Hello World',3.14,1.618,'Hello Python',3.14,1.618,True,False,2023]
print(newlist)

# converting the list into set

set1=set(newlist)
print(set1)

['Hello World', 3.14, 1.618, 'Hello Python', 3.14, 1.618, True, False, 2023]
{False, 1.618, True, 3.14, 2023, 'Hello World', 'Hello Python'}

# Set operations

In [1]:
# Take a set

set3=set(['Hello Pyton!',3.14,1.618,'Hello World!',3.14,1.618,True,False,2023])
set3

{1.618, 2023, 3.14, False, 'Hello Pyton!', 'Hello World!', True}

# add() function

 * __To add an element into a set, we use the function add(). If the same element is added to the set, nothing will happen because the set accepts no duplicates.__

In [3]:
set3.add('Hi, Python')
set3

{1.618,
 2023,
 3.14,
 False,
 'Hello Pyton!',
 'Hello World!',
 'Hi, Python',
 'Hi, Pyton',
 True}

# update() function

 * __To add multiple elements into the set.__

In [5]:
x_set={6,7,8,9}
print(x_set)

x_set.update({3,4,5,6,7})
print(x_set)

{8, 9, 6, 7}
{3, 4, 5, 6, 7, 8, 9}

# remove() function

 * __To remove an element from the set__

In [9]:
print(set3)
set3.remove('Hi, Pyton')

{False, 1.618, True, 3.14, 2023, 'Hello Pyton!', 'Hi, Python', 'Hello World!', 'Hi, Pyton'}

In [11]:
print(set3)

{False, 1.618, True, 3.14, 2023, 'Hello Pyton!', 'Hi, Python', 'Hello World!'}

# discard() function

 * __It leaves the set unchanged if the element to be deleted is not available in the set.__

In [12]:
set3

{1.618, 2023, 3.14, False, 'Hello Pyton!', 'Hello World!', 'Hi, Python', True}

In [14]:
set3.discard('Hello World!')
set3

{1.618, 2023, 3.14, False, 'Hello Pyton!', 'Hi, Python', True}

In [15]:
set3.discard('Pune')
set3

{1.618, 2023, 3.14, False, 'Hello Pyton!', 'Hi, Python', True}

In [16]:
set3.remove('Pune')

KeyError: 'Pune'

In [20]:
# verify the element in the set

print(1.618 not in set3)
print(1.618 in set3)

False
True

# Logic operations in sets

In [24]:
# Take two sets

set4=set(['Hello Python',3.14,1.618,'Hello World'])
set5=set([3.14,1.618,True,False,2023])

set4,set5

({1.618, 3.14, 'Hello Python', 'Hello World'},
 {False, True, 1.618, 3.14, 2023})

In [23]:
print(set4)
print(set5)

{1.618, 'Hello World', 3.14, 'Hello Python'}
{False, 1.618, True, 3.14, 2023}

# To find the intersect of two sets using &

In [26]:
print(set4)
print(set5)

{1.618, 'Hello World', 3.14, 'Hello Python'}
{False, 1.618, True, 3.14, 2023}

In [27]:
intersection=set4&set5
intersection

{1.618, 3.14}

In [28]:
# another method to find intersection

set4.intersection(set5)

{1.618, 3.14}

# difference() function

 * __To find the difference between two sets.__

In [30]:
set4,set5

({1.618, 3.14, 'Hello Python', 'Hello World'},
 {False, True, 1.618, 3.14, 2023})

In [31]:
print(set4.difference(set5))  #A-B
print(set5.difference(set4))

{'Hello World', 'Hello Python'}
{False, True, 2023}

In [33]:
# another method to find difference 

print(set4-set5)
print(set5-set4)

{'Hello World', 'Hello Python'}
{False, True, 2023}

# union() function

 * __It corresponds to all the elements in the both sets.__

In [35]:
print(set4,set5)

print(set4.union(set5))

{1.618, 'Hello World', 3.14, 'Hello Python'} {False, 1.618, True, 3.14, 2023}
{False, 1.618, 'Hello World', 3.14, True, 2023, 'Hello Python'}

# Asymmetric Difference

In [38]:
print(set4.symmetric_difference(set5))

{False, True, 'Hello World', 2023, 'Hello Python'}

In [41]:
print(set4)
print(set5)

{1.618, 'Hello World', 3.14, 'Hello Python'}
{False, 1.618, True, 3.14, 2023}

In [48]:
print(set([3.14,1.618]).issubset(set4))
print(set([3.14,1.618]).issubset(set5))
print(set4.issuperset([3.14,1.618]))
print(set5.issuperset([3.14,1.618]))

True
True
True
True