# 8. Loops in Python

 * __A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a sting).__
 * __This is less like the for keyword in the other programming languages, and works more like an iterators method as found in other object-oriented programming languages.__
 * __With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.__
 * __The for loop does not require an indexing variable to set beforehand.__
 * __with the while loop we can execute a set of statements as long as a condition is true.__
 * __Note: remember to increment, i, or else the loop will continue forever.__
 * __The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.__
 
 # range() function
 
 * __It is helpful to think of the range object as an ordered list.__
 * __To loop through a set of code a specified number of times, we can use the range() functions.__
 * __The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.__

In [2]:
years=[2005,2006,2007,2008,2009,2010]

years

for i in years:
    print(i)

2005
2006
2007
2008
2009
2010

In [3]:
for year in years:
    print(year)

2005
2006
2007
2008
2009
2010

In [4]:
for var in years:
    print(var)

2005
2006
2007
2008
2009
2010

In [5]:
years

[2005, 2006, 2007, 2008, 2009, 2010]

In [8]:
for i in range(len(years)):
    print(years[i])

2005
2006
2007
2008
2009
2010

In [12]:
for i in range(10,21):
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [18]:
for i in range(11,21,2):
    print(i)

11
13
15
17
19

In [19]:
languages=['Java','JavaScript','C','C++','PHP','Python','Kotlin']
languages

['Java', 'JavaScript', 'C', 'C++', 'PHP', 'Python', 'Kotlin']

In [21]:
for i in range(len(languages)):
    print(i,languages[i])

0 Java
1 JavaScript
2 C
3 C++
4 PHP
5 Python
6 Kotlin

In [22]:
# Enumerations of the elements in the list

languages

['Java', 'JavaScript', 'C', 'C++', 'PHP', 'Python', 'Kotlin']

In [23]:
for index,i in enumerate(languages):
    print(index,i)

0 Java
1 JavaScript
2 C
3 C++
4 PHP
5 Python
6 Kotlin

In [24]:
for i in range(-3,11):
    print(i)

-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10

In [28]:
number=int(input('Enter a number:'))

for i in range(1,11):
    print('%dX%d=%d'%(number,i,number*i))

Enter a number:19
19X1=19
19X2=38
19X3=57
19X4=76
19X5=95
19X6=114
19X7=133
19X8=152
19X9=171
19X10=190

In [4]:
nlis=[0.577,1.618,2.718,3.147,6,37,1629]

count=0

for i in nlis:
    count+=i
    
print('Sum of the list:',count)
print('Average of the list:',count/len(nlis))

Sum of the list: 1680.06
Average of the list: 240.00857142857143

In [10]:
for i in range(1,7):
    print(i,end=' ')
else:
    print('These are numbers from 1 to 5')

1 2 3 4 5 6 These are numbers from 1 to 5

# nested for loop

In [12]:
num=int(input('Enter a number:'))

i,j=0,0

for i in range(0,num):
    print()
    for j in range(0,i+1):
        print('+',end='')

Enter a number:10

+
++
+++
++++
+++++
++++++
+++++++
++++++++
+++++++++
++++++++++

# break

In [16]:
nlis=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]

for i in nlis:
    if i==11:
        break
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

# continue

In [17]:
nlis=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]

for i in nlis:
    if i==11:
        continue
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 12 13 14

#  While loop

 * __The while loop exists as a tool for repeated execution based on a condition. The code will keep being executed untill the given logical condition returns a False boolean value.__

In [18]:
i=20

while i<27:
    print(i)
    i+=1

20
21
22
23
24
25
26

In [21]:
i=22

while i>=17:
    print(i)
    i-=1

22
21
20
19
18
17

# while-else statement

In [22]:
years=[2005,2006,2007,2008,2009,2010,2011,2012,2013]

In [24]:
index=0
while index<=5:
    print(index,end=' ')
    index+=1
else:
    print('It gives us the numbers between 0 to 5')

0 1 2 3 4 5 It gives us the numbers between 0 to 5

# break in while loop

In [3]:
i = 0

while i<=10:
    print(i)
    i+=1
    if i==7:
        break

0
1
2
3
4
5
6

# continue in while loop

In [4]:
i = 0

while i<=10:
    print(i)
    i+=1
    if i==7:
        continue

0
1
2
3
4
5
6
7
8
9
10

In [5]:
# write a table using while loop

a=int(input('Enter any number:'))

i=1

while i<11:
    print(a,'X',i,'=',a*i)
    i+=1

Enter any number:11
11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
11 X 10 = 110

In [6]:
a=int(input('Enter any number:'))

i=1

while i<11:
    print('%d X %d = %d'%(a,i,a*i))
    i+=1

Enter any number:41
41 X 1 = 41
41 X 2 = 82
41 X 3 = 123
41 X 4 = 164
41 X 5 = 205
41 X 6 = 246
41 X 7 = 287
41 X 8 = 328
41 X 9 = 369
41 X 10 = 410

In [7]:
# Write a program to print even number 0 to 50 using for loop.
# Write a program to calculate the sum of all numbers from 1 to 10.

In [10]:
# Write a program to calculate the sum of all numbers from 1 to 10.

sum=0

for i in range(1,11):
    sum+=i
print(sum)

55

In [14]:
# Write a program to print even number 0 to 50 using for loop.

for i in range(2,51,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [15]:
# Write a program to count the number of even or odd number from the series [1,2,3,4,5,67,50,100,2002,168,597,256,300].


nums=[1,2,3,4,5,67,50,100,2002,168,597,256,300]

for i in nums:
    if i%2==0:
        print(i,'is an even number')
    else:
        print(i,'is an odd number')

1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
67 is an odd number
50 is an even number
100 is an even number
2002 is an even number
168 is an even number
597 is an odd number
256 is an even number
300 is an even number

In [18]:
# write a program to print the sum of first 20 even numbers using while loop.


i=0
sum=0

while(i<=20):
    if i%2==0:
        sum+=i
    i+=1
print('Sum of first 20 even numbers is',sum)

Sum of first 20 even numbers is 110

In [19]:
# Write a program to print all even numbers that falls between two numbers.


i=int(input('Enter first range:'))
j=int(input('Enter second range:'))

while (i<j+1):
    if i%2==0:
        print(i)
    i+=1

Enter first range:10
Enter second range:20
10
12
14
16
18
20

In [25]:
# Write a program to display the number of names of the digits of a number.
# Ex: 231 then output should be TWO THREE ONE.


num1=input('Enter any number:')

l1=list(num1)

l=len(l1)

i=0

n={0:'Zero',1:'One',2:'Two',3:'Three',4:'Four',5:'Five',6:'Six',7:'Seven',8:'Eight',9:'Nine'}

while (i<l):
    print(n[int(l1[i])],end=' ')
    i=i+1

Enter any number:56545616165165411
Five Six Five Four Five Six One Six One Six Five One Six Five Four One One